.bg {
  background-color: #1f2c5c;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  &__item {
    position: absolute;
    animation: rotate1 150s linear 0s infinite;

    &-01 {
      width: 545rem;
      height: 481rem;
      top: -160rem;
      left: -166rem;
    }

    &-02 {
      width: 507rem;
      height: 489rem;
      bottom: -152rem;
      left: -108rem;
    }

    &-03 {
      width: 338rem;
      height: 332rem;
      top: -30rem;
      right: 405rem;
    }

    &-04 {
      width: 365rem;
      height: 410rem;
      top: -92rem;
      right: -28rem;
    }

    &-05 {
      width: 426rem;
      height: 415rem;
      top: 193rem;
      right: -273rem;
    }

    &-06 {
      width: 562rem;
      height: 564rem;
      bottom: -255rem;
      right: -158rem;
    }

    &-animationReverse {
      animation: rotate1 150s linear 0s infinite reverse;
    }
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
