.bg {
  background-color: #1f2c5c;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bgItem {
  position: absolute;
  animation: rotate1 150s linear 0s infinite;

  & > {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  &01 {
    width: 42.8125rem;
    top: -12.5rem;
    left: -12.2rem;
  }

  &02 {
    width: 31.6875rem;
    bottom: -9.5rem;
    left: -6.6rem;
  }

  &03 {
    width: 21.125rem;
    top: -1.8rem;
    right: 25.3rem;
  }

  &04 {
    width: 22.8125rem;
    top: -5.7rem;
    right: -1.7rem;
    animation: rotate1 150s linear 0s infinite reverse;
  }

  &05 {
    width: 26.625rem;
    top: 12rem;
    right: -17rem;
    animation: rotate1 150s linear 0s infinite reverse;
  }

  &06 {
    width: 35.125rem;
    bottom: -16rem;
    right: -9.9rem;
    animation: rotate1 150s linear 0s infinite reverse;
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
