.wrap {
  max-width: 1280rem;
  height: 100%;
  margin: 0 auto;
  padding: 15rem 32rem 41rem 40rem;
  box-sizing: border-box;
  position: relative;
}

.copyright {
  font-family: "Outfit Thin";
  font-size: 16rem;
  line-height: 19rem;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(calc(-50% + 5rem));
  display: flex;
  align-items: center;

  &__icon {
    font-weight: 100;
    font-size: 22rem;
  }

  &__text {
    font-size: 15rem;
    transform: scale(0.8, 1);
    display: inline-block;
    line-height: 12rem;
  }
}
