.container {
  width: 1200rem;
  height: 563rem;
  margin-left: 8rem;
  box-sizing: border-box;
  border-radius: 25rem;
  background-color: #dce0ed;
  display: grid;
  grid-template-columns: 1fr 2fr;

  &__event {
    position: relative;
    box-sizing: border-box;

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      transform: translateX(50%);
      background-image: radial-gradient(circle at 50% 50%, #ffffff 30%, transparent 0%);
      background-size: 5rem 11rem;
      width: 5rem;
      height: 100%;
    }
  }
}
